@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');


.brand {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.brand .brand_level {
  width: 100%;
  display: flex;
  justify-content: center;
}

.brand_level img{
    width: 20%;
    margin-top: 5%;
}

.new-brand {
  text-align: center;
  margin: 0px auto;
  font-family: 'Fira Sans', sans-serif;
}

.pro-quality img {
  border: 3mm solid skyblue;
  border-left: .7mm solid skyblue;
  border-right: .7mm solid red;
  border-color: pink green pink skyblue;
  width: 90%;
  border-radius: 50%;
}
